<li class="dropdown-submenu">
  <a href="#">2017 Fall Web Apps Section 01
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about/t3">Team 3
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/about/t3/a">Dodla Shivani Reddy</a>
        </li>
        <li>
          <a href="/about/t3/b">Vamshi Raj Jennaikode</a>
        </li>
        <li>
          <a href="/about/t3/c">Manogna Sivangula</a>
        </li>
      </ul>
    </li>

  </ul>
</li>