<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% include devs_sites %>
    <% include about_details %>
      <li role="separator" class="divider"></li>
      <li class="dropdown-submenu">
        <a href="#">Mentors <span class="caret"></span> </a>
        <ul class="dropdown-menu">
          <li><a href="#">Instructor Case</a></li>
          <li><a href="#">Instructor Rogers</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Assistant Santhosh</a></li>
          <li><a href="#">Assistant Charan</a></li>
      
        </ul>
      </li>
  </ul>
</li>