<!-- dev - project team 03 -->
</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>Developed by Vamshi Raj, Manogna, Shivani Reddy &copy; 2018</p>
    <p class="text-muted"><a href="https://bitbucket.org/manogna1/project03/src">Repository</a></p>
  </div>
</footer>