

 <div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Project 03</h1>
      <br/>
    
      <h2>Views and JSON data of Planes,flights & Pilots </h2>
      <br/>
      <hr>
      <h3>During development, test your api here.</h3>
      <br/>
      <br/>
      <div class=row>
      <div class="col col-md-4">
      <h4>GET a view of flight</h4>
      <ol>
        <li>
          <a href="/flight">/flight</a>
        </li>
        <li>
          <a href="/flight/create">/flight/create</a>
        </li>
      
        <li>
          <a href="/flight/edit/1">/flight/edit/1</a>
        </li>
        <li>
          <a href="/flight/edit/2">/flight/edit/2</a>
        </li>
        <li>
          <a href="/flight/edit/3">/flight/edit/3</a>
        </li>
      
        <li>
          <a href="/flight/delete/1">/flight/delete/1</a>
        </li>
        <li>
          <a href="/flight/delete/2">/flight/delete/2</a>
        </li>
        <li>
          <a href="/flight/delete/3">/flight/delete/3</a>
        </li>
        <li>
          <a href="/flight/details/1">/flight/details/1</a>
        </li>
        <li>
          <a href="/flight/details/2">/flight/details/2</a>
        </li>
        <li>
          <a href="/flight/details/3">/flight/details/3</a>
        </li>
      </ol>
      </div>
      <div class="col col-md-4">
      <h4>GET a view of Plane</h4>
      <ol>
        <li>
          <a href="/plane">/plane</a>
        </li>
        <li>
          <a href="/plane/create">/plane/create</a>
        </li>
      
        <li>
          <a href="/plane/edit/1">/plane/edit/1</a>
        </li>
        <li>
          <a href="/plane/edit/2">/plane/edit/2</a>
        </li>
        <li>
          <a href="/plane/edit/3">/plane/edit/3</a>
        </li>
      
        <li>
          <a href="/plane/delete/1">/plane/delete/1</a>
        </li>
        <li>
          <a href="/plane/delete/2">/plane/delete/2</a>
        </li>
        <li>
          <a href="/plane/delete/3">/plane/delete/3</a>
        </li>
        <li>
          <a href="/plane/details/1">/plane/details/1</a>
        </li>
        <li>
          <a href="/plane/details/2">/plane/details/2</a>
        </li>
        <li>
          <a href="/plane/details/3">/plane/details/3</a>
        </li>
      </ol>
      <br/>
</div>
<div class="col col-md-4">
        <h4>GET a view of pilot</h4>
      <ol>
        
        <li>
          <a href="/pilot">/pilot</a>
        </li>
       
        <li>
          <a href="/pilot/create">/pilot/create</a>
        </li>
       
        <li>
          <a href="/pilot/edit/1">/pilot/edit/1</a>
        </li>
        <li>
          <a href="/pilot/edit/2">/pilot/edit/2</a>
        </li>
        <li>
          <a href="/pilot/edit/3">/pilot/edit/3</a>
        </li>
        <li>
          <a href="/pilot/edit/4">/pilot/edit/4</a>
        </li>
        <li>
          <a href="/pilot/edit/5">/pilot/edit/5</a>
        </li>
    
        <li>
          <a href="/pilot/delete/1">/pilot/delete/1</a>
        </li>
        <li>
          <a href="/pilot/delete/2">/pilot/delete/2</a>
        </li>
        <li>
          <a href="/pilot/delete/3">/pilot/delete/3</a>
        </li>
        <li>
          <a href="/pilot/delete/4">/pilot/delete/4</a>
        </li>
        <li>
          <a href="/pilot/delete/5">/pilot/delete/5</a>
        </li>
        <li>
          <a href="/pilot/details/1">/pilot/details/1</a>
        </li>
        <li>
          <a href="/pilot/details/2">/pilot/details/2</a>
        </li>
        <li>
          <a href="/pilot/details/3">/pilot/details/3</a>
        </li>
        <li>
          <a href="/pilot/details/4">/pilot/details/4</a>
        </li>
        <li>
          <a href="/pilot/details/5">/pilot/details/5</a>
        </li>
      </ol>
      <br/>
      </div>
      </div>
      <div class=row>
        <div class="col col-md-4">
      <h4>GET JSON of Plane</h4>
      <ol>

        <li>
          <a href="/plane/findall">/plane/findall</a>
        </li>
        <li>
          <a href="/plane/findone/1">/plane/findone/1</a>
        </li>
        <li>
          <a href="/plane/findone/2">/plane/findone/2</a>
        </li>
        <li>
          <a href="/plane/findone/3">/plane/findone/3</a>
        </li>
        </ol>
        </div>
          <div class="col col-md-4">
        <h4>GET JSON of Pilot</h4>
        <ol>
            <li>
                <a href="/pilot/findall">/pilot/findall</a>
              </li>
        <li>
          <a href="/pilot/findone/1">/pilot/findone/1</a>
        </li>
        <li>
          <a href="/pilot/findone/2">/pilot/findone/2</a>
        </li>
        <li>
          <a href="/pilot/findone/3">/pilot/findone/3</a>
        </li>
        <li>
          <a href="/pilot/findone/4">/pilot/findone/4</a>
        </li>
        <li>
          <a href="/pilot/findone/5">/pilot/findone/5</a>
        </li>
      </ol>
      </div>
      <div class="col col-md-4">
      <h4>GET JSON of flight</h4>
      <ol>
          <li>
              <a href="/flight/findall">/flight/findall</a>
            </li>
      <li>
        <a href="/flight/findone/1">/flight/findone/1</a>
      </li>
      <li>
        <a href="/flight/findone/2">/flight/findone/2</a>
      </li>
      <li>
        <a href="/flight/findone/3">/flight/findone/3</a>
      </li>
      <li>
        <a href="/flight/findone/4">/flight/findone/4</a>
      </li>
      <li>
        <a href="/flight/findone/5">/flight/findone/5</a>
      </li>
    </ol>
</div></div>
    </div>
  </div>
</div>