<!-- developer - ManognaSivangula -->
<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lastName" value="<%= pilot.lastName %>" required>
      </div>
      <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="firstName" value="<%= pilot.firstName %>">
      </div>
      <div class="form-group">
        <label for="hrs">Hours Flown</label>
        <input type="number" class="form-control" id="hrs" name="hoursFlown" value="<%= pilot.hoursFlown %>">
      </div>
      <div class="form-group">
          <label for="current">Is Current</label>
          <input type="boolean" class="form-control" id="current" name="isCurrent" value="<%= pilot.isCurrent %>">
        </div>
    </div>
  </div>
  <hr>
  <script>
    
     document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  </script>
 