<!-- dev - Dodla Shivani Reddy -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <a href="flight/create" class="btn btn-primary new">
        Create a new flight
      </a>
    </br>
      <h2>Recent flight entries</h2>
      <p>There are
       <strong> <%= flights.query.length %></strong> flights. 
      </p>
      <br>
 
    
          <table> 
          
          <tr> 
            <th>Flight ID</th> <th>&emsp;&emsp;Name</th> <th>&emsp;&emsp;Starting Point</th>  
             <th>&nbsp;&nbsp;&nbsp;&nbsp;Ending Point</th> 
            <th>&nbsp;&nbsp;&nbsp;&nbsp;Duration</th>  
           <td><th>-----Operations-----</th></td>
          </tr>
         
          <td><br></td>
          
     
      <% for (var i = 0; i <= flights.query.length-1; i++) {  
        flight = flights.query[i];  %>
        
  
<tr>

<th><%=flight._id %></th>

<th>&emsp;&emsp;<%=flight.name%></th>
    
    <th>&emsp;&emsp;<%=flight.startingPoint%></th>
      
     <th>&nbsp;&nbsp;&nbsp;&nbsp;<%=flight.endingPoint%></th> 
        
    <th>&nbsp;&nbsp;&nbsp;&nbsp;<%=flight.durationHours%></th>  
                        
    
                         <th>&emsp;&emsp;<a href="/flight/details/<%= flight._id %>" class="btn btn-info"> Details </a></th>
                         <th>&emsp;&emsp;&emsp;<a href="/flight/edit/<%= flight._id %>" class="btn btn-warning"> Edit </a></th>
                         <th><a href="/flight/delete/<%= flight._id  %>" class="btn btn-danger"> Delete </a></th> 
 
                         
</tr>
     
<td><br></td>
  <% } %>
          </table>
          
        </div>
    </div>
  </div>
</div>