<!-- dev - Vmashi raj Jennaikode -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <a href="plane/create" class="btn btn-primary new">
        Create a new plane
      </a>
    </br>
      <h2>Recent plane entries</h2>
      <p>There are
       <strong> <%= planes.query.length %></strong> planes. 
      </p>
      <br>
 
    
          <table> 
          
          <tr> 
            <th>Plane ID</th> <th>&emsp;&emsp;Tail Number</th> <th>&emsp;&emsp;Seats</th>  
             <th>&nbsp;&nbsp;&nbsp;&nbsp;Fuel Capacity</th> 
    
           <td><th>-----Operations-----</th></td>
          </tr>
         
          <td><br></td>
          
     
      <% for (var i = 0; i <= planes.query.length-1; i++) {  
        plane = planes.query[i];  %>
        
  
<tr>

<th><%=plane._id %></th>

<th>&emsp;&emsp;<%=plane.tailNumber%></th>
    
    <th>&emsp;&emsp;<%=plane.numSeats%></th>
      
     <th>&nbsp;&nbsp;&nbsp;&nbsp;<%=plane.fuelCapacity%></th> 
        
  
                        
    
                         <th>&emsp;&emsp;<a href="/plane/details/<%= plane._id %>" class="btn btn-info"> Details </a></th>
                         <th>&emsp;&emsp;&emsp;<a href="/plane/edit/<%= plane._id %>" class="btn btn-warning"> Edit </a></th>
                         <th><a href="/plane/delete/<%= plane._id  %>" class="btn btn-danger"> Delete </a></th> 
 
                         
</tr>
     
<td><br></td>
  <% } %>
          </table>
          
        </div>
    </div>
  </div>
</div>