<!-- dev - Vmashi raj Jennaikode -->
<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="tailNumber">Tail number</label>
      <input type="text" class="form-control" id="tailNumber" name="tailNumber" value="<%= plane.tailNumber %>" required>
    </div>
    <div class="form-group">
      <label for="numSeats">No.of Seats</label>
      <input type="number" class="form-control" id="numSeats" name="numSeats" value="<%= plane.numSeats %>">
    </div>
    <div class="form-group">
      <label for="fuelCapacity">Fuel Capacity</label>
      <input type="number" class="form-control" id="fuelCapacity" name="fuelCapacity" value="<%= plane.fuelCapacity %>">
    </div>
  </div>
</div>
<hr>
<script>
  
   document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }
</script>
