<br/>
<br/>
<br/>
<h1>Dodla Shivani Reddy</h1>
<div class="col-md-4"><img src="../../images/image.jpg" class="img-circle" alt="lavanya" width="304" height="236"></div>
                <div class="col-md-8">
                    
                    <section>   <h2>About me</h2>
                        <p>I'am newly admitted in spring 2018 intake for Masters in Applied computer science at Northwest Missouri state university</p>
                   
                    
                        <h2>Background</h2>
                        <p>I'am from Hyderabad,India.i did bachelors in the field of electronics and communication engineering in the year 2017</p>
                  
                    <h3>Future Plans</h3>
                    <p>i would like to work as a software developer after my graduation</p></p>         
                
 
              
                    <h2>Hobbies</h2>
                    <p>
                     <ul> 
                         <li>I like playing chess</li> 
                         <li>Solving puzzles</li>
                         <li>Surfing web</li>
                         <li>Listening Music</li>
                     </ul>
                   </p>
                        
                </section>
            </div> 
        </div> 

       

        
<br/>
<br/>