<br/>
<br/>
<br/>

<div>
    <div class="container">
        <div class="row">
                <img class="img-circle" src="../../images/main.jpg" alt="self" width="200px" height="200px">
            <div class="col-md-6 col-md-offset-3">
                    <% include nav.ejs %>
                <section>
                    <header class="section-header"><h1>Vamshi Raj</h1></header>
                    <br>
                    <p>I am a new member of Spring 2018 Batch working on my Masters of
                        <strong>Applied Computers Science</strong>.</p>
                </section>
                <br>
                <section id="past-section">
                    <header class="section-header">Background</header>
                    <br>
                    <p>I am from
                        <strong>Hyderabad</strong>, India. I finished my Bachelor's from Jawaharlal Nehru Technological University
                        in
                        <strong>Computer Science and Engineering</strong> in 2016.</p>
                </section>
                <br>
                <section id="future-section">
                    <header class="section-header">Plans</header>
                    <br>
                    <p>I plan to be as versatile as possible in this ever changing Technologies so that I can adapt to future
                        challenges. I hope to be a Application Developer. I am interested in Web Application Development,
                        Android and iOS Application Development.</p>
                </section>
            </div>
            <br>

        </div>
    </div>
</div>

<br/>
<br/>