<div class="row">
        <div class="col-md-2">
            <a href="/about/t3/b" class="btn btn-info" role="button">About</a>
            </div>
            <div class="col-md-2">
            <a href="/about/t3/b/skills" class="btn btn-info" role="button">Skills</a>
            </div>
            <div class="col-md-2">
                <a href="/about/t3/b/contact" class="btn btn-info" role="button">Contact</a>
        </div>
        </div>
<div>